:root {
	--blueColor: #041c32;
	--pinkColor: #b0335b;
	--whiteColor: #fff;
	--snowColor: #e5e5e5;
	--greyColor: #a0a0a0;
	--lightGreenColor: #16c79a;
	--darkGreenColor: #163d3b;
	--textSizeXL: 6rem;
	--textSizeX: 2.25rem;
	--textSizeM: 1.25rem;
	--textSizeS: 1rem;
	--textSizeXS: 0.875rem;
}
