.user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
}

.user-info__buttons-container {
    width: 32rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.user-info__save-button {
    padding: 0.75rem 1.5rem;
    border-radius: 0.75rem;
    font-weight: 600;
    font-size: var(--textSizeS);
    line-height: var(--textSizeS);
    background: var(--pinkColor);
    border: none;
    cursor: pointer;
    box-shadow: 0 0.25rem var(--greyColor);
    color: var(--whiteColor);
}

.user-info__button {
    display: flex;
    border: none;
    background: none;
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: var(--pinkColor);
    cursor: pointer;
}
