<input class="{{ styles.send-message__input }}" name="message" type="text" placeholder="Type your message..." />
<div class="{{ styles.send-message__buttons }}">
    {{{ attachFilesToMessage }}}
    {{{ submitButton }}}
</div>
